@font-face{
	font-family: KarloCham;
	font-display: swap;
	src: url("../fonts/KarloCham-Line.woff2") format("woff2"), url("../fonts/KarloCham-Line.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Texgyrebonum;
	font-display: swap;
	src: url("../fonts/Texgyrebonum-Bold.woff2") format("woff2"), url("../fonts/Texgyrebonum-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
