// ------------------------------------------------------------//
// Normalize
// ------------------------------------------------------------//

@import "base/normalize";

// ------------------------------------------------------------//
// Vendor
// ------------------------------------------------------------//
// @import "vendor/slider";
// ------------------------------------------------------------//
// Content
// ------------------------------------------------------------//

@import "base/variables";
@import "base/mixins";
@import "base/base";

// ------------------------------------------------------------//
// Typography
// ------------------------------------------------------------//

@import "base/typography";
@import "base/fonts";

// ------------------------------------------------------------//
// Layout
// ------------------------------------------------------------//

@import "layouts/header";
@import "layouts/content";
//@import "layouts/sidebar";
@import "layouts/footer";

// ------------------------------------------------------------//
// Components
// ------------------------------------------------------------//

@import "components/logo";
@import "components/navigation";
@import "components/search";
//@import "components/card";
@import "components/form";
//@import "components/login-form";
//@import "components/icon";
//@import "components/table";
//@import "components/tabs";
@import "components/button";
@import "components/slider";
//@import "components/modal";

// ------------------------------------------------------------//
// State
// ------------------------------------------------------------//

@import "states/media-queries";
