form {
	padding: 5px 20px;
}
input {	
	margin: $input-margin;
	padding: $input-padding;
	border: $border;
	border-radius: $border-radius;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	border-radius: $border-radius;
}
