.menu {
   margin: 0 0 10px 0;
   padding: 0;
   list-style: none;
}

.menu-item {
	@include mq(sm) {
		border-right: $border;

		&:last-child {
			border-right: none;
		}
	}   
}

.menu-link {
   display: block;
   padding: 0.5rem 1rem;
   color: $menu-link-color;
   text-transform: uppercase;
   font-weight: bold;

   &:hover {
      color: $menu-link-color-hover;
      text-decoration: none;
   }
}

.menu-toggle-label {
   position: relative;
   display: block;
   float: right;
   width: 25px;
   height: 25px;
   margin: 10px 10px 20px;
   cursor: pointer;
   color: $menu-link-color;
   font-size: $font-size-base * 2;

   &:after {
      content: attr(data-open);
   }

   &:hover {
      color: $menu-link-color-hover;
   }

   @include mq(sm) {
      display: none;
   }
}

.menu-toggle {
   display: none;

   &:checked {
      + .menu-toggle-label:after {
         content: attr(data-close);
      }

      ~ .menu {
         display: inline-block;
         width: 100%;
         margin: 0;
			padding: 0;
			
			@include mq(sm) {
				display: flex;
				flex-flow: row nowrap;
			}
      }
   }
}

.menu-toggle-label {	
	position: relative;
	display: block; 
	float: right;  
	width: 25px;
	height: 25px;
	margin: 10px 10px 20px;
	cursor: pointer;
	color: $menu-link-color;
	font-size: $font-size-base * 2;
	
	&:after {
		content: attr(data-open);
	}

	&:hover {
		color: $menu-link-color-hover;
	}
	
	 @include mq(sm) {
		  display: none;
	 };
}
.menu-toggle {
	display: none;

	&:checked {
		+ .menu-toggle-label:after {
			content: attr(data-close);
		}

		~.menu {
			display: inline-block;
			width: 100%;
			margin: 0;
			padding: 0;
@include mq(sm) {
	display: flex;
	flex-flow: row nowrap;
}
		}
	}
}
.main-navigation {
	position: relative;
	width: 100%;
	flex: auto;
	text-align: center;

	&:before,
	&:after {
		@include clearfix;
	}

	.main-menu {
		display: none;

		@include mq(sm) {
			display: flex;
			flex-flow: row nowrap;
		}
	}

	.menu-item {
		flex: auto;
	}
}