.tabs {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1rem 2rem -0.9rem rgba(#000, 0.7);
}

.tabs-buttons {
	display: none;
	
	@include mq(sm) {
	display: flex;
	flex-flow: row nowrap;
	}
}

.tabs-button,
.tabs-label {
	position: relative;
	width: 100%;
	padding: 15px 20px;
	border: none;
	outline: none;
	background: $primary;
	border-bottom: 1px solid darken($primary, 25%);
	cursor: pointer;
	
	&:hover,
	&.is-active {
		background: lighten($primary, 20%);
	}
	
	@include mq(sm) {
		flex: auto;
		border-right: 1px solid darken($primary, 25%);
		
		&:last-child {
			border-right: none;
		}
		&:after {
			display: none;
		}
	}
}

.tabs-panel-content {
	padding: 0;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
}

.tabs-label {
	display: block;
	width: auto;
	
	&:after {
	content: "";
	height: 4px;
	width: 4px;
	position: absolute;
	top: -4px;
	right: 1.25rem;
	bottom: 0;
	margin: auto;
	border: 3px solid transparent;
	border-radius: 2px;
	transform: rotate(-45deg);
	border-color: transparent darken($primary, 25%) darken($primary, 25%)
	transparent;
	opacity: 1;
	transition: opacity 0.1s ease;
	}
	
	@include mq(sm) {
		display: none;
	}
}

.tabs .is-active {
	.tabs-label {
		background: lighten($primary, 15%);
		
		&:after {
		transform: rotate(45deg);
		}
	}
	
	.tabs-panel-content {
		display: block;
		padding: 5px 15px;
		max-height: 500px;
		opacity: 1;
		transition: max-height .75s ease;
		
		@include mq(sm) {
			transition: none;
		}
	}
}
