label {
	margin: $label-margin;
}

input {	
	margin: $input-margin;
	padding: $input-padding;
	border: $border;
	border-radius: $border-radius;
	outline: none;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	outline: none;
}
