.menu {
    padding: 0;
    list-style: none;
}

.menu-item {  
    text-align: center; 
    border-bottom: none;  

    &:not(:first-of-type) {
        border-left: $border; 
    }          
}

.menu-link {
    display: block;
    padding: .5rem 1rem;
}

.menu-toggle-label {
    display: none;

    @include mq(md,max) {
        position: absolute;
        display: block;        
        width: 25px;
        height: 25px;
        top: 0;
        right: 25px;
        cursor: pointer;
        background: url("../images/icon-menu.png") no-repeat; 
    };
}

.menu-toggle {    
    display: none;

    @include mq(md,max) {
        &:checked {

            + .menu-toggle-label {
                background-image: url("../images/icon-close.png");
            }

            ~.menu {
                display: block;
                margin-top: 30px;
            }
        }
    }
}

.main-navigation {    
    position: relative;
    display: inline-block;
    width: 100%;

    &:before,
    &:after {
        @include clearfix;
    };

    .main-menu {         
        -webkit-display: flex;
        display: flex;
        -webkit-flex-flow: nowrap row;
        flex-flow: nowrap row;
        margin: 20px 0 10px;

        @include mq(md,max) {
            display: none; 
        };   
    }

    .menu-item {
        -webkit-flex: auto;
        flex: auto;

        @include mq(md,max) {   
            border-bottom: $border; 
            border-left:none; 
        };
    }
}
