<div class="cards">
   <div class="card">
      <img src="@images/card-1.png" class="card-image" alt="card-image-1">
      <h3 class="card-title"></h3>
      <h4 class="card-subtitle"></h4>
      <div class="card-content">

      </div>
   </div>
   <!-- end card -->
   <div class="card">
      <img src="@images/card-2.png" class="card-image" alt="card-image-2">
      <h3 class="card-title"></h3>
      <h4 class="card-subtitle"></h4>
      <div class="card-content">

      </div>
   </div>
   <!-- end card -->
   <div class="card">
      <img src="@images/card-3.png" class="card-image" alt="card-image-3">
      <h3 class="card-title"></h3>
      <h4 class="card-subtitle"></h4>
      <div class="card-content">

      </div>
   </div>
   <!-- end card -->
</div>
<!-- end cards -->