<form id="myform" class="form">
   <label class="form-label">Введите имя: </label>
   <input class="form-field required" type="text" name="name" placeholder="Имя"><br>

   <label class="form-label">Введите Email: </label>
   <input class="form-field required" type="email" name="email" placeholder="Email"><br>

   <label class="form-label">Введите номер телефона: </label>
   <input class="form-field required" type="tel" name="phone" placeholder="Телефон"><br>

   <label class="form-label">Выберите значение: </label>

   <label class="form-label inline" for="radio1">Значение 1: </label>
   <input class="form-field form-radio" type="radio" name="val" id="radio1"><br>
   <label class="form-label inline" for="radio2">Значение 2: </label>
   <input class="form-field form-radio" type="radio" name="val" id="radio2">

   <label class="form-label">Выберите значение: </label>
   <select class="form-field form-select" name="select">
      <option class="option" value="value1">Значение 1</option>
      <option class="option" value="value2">Значение 2</option>
      <option class="option" value="value3">Значение 3</option>
   </select>

   <label class="form-label inline">Я согласен с условиями: </label>
   <input class="form-field form-check" type="checkbox" name="check"><br>

   <label class="form-label">Комментарий: </label>
   <textarea class="form-field form-textarea" name="message"></textarea><br>

   <input class="button form-submit" type="submit" value="Отправить">
</form>
<!-- end form -->