<form id="login" class="form login-form">
   <h3>Login</h3>
   <label class="form-label">Введите имя: </label>
   <input class="form-field required" type="text" name="name" placeholder="Имя"><br>

   <label class="form-label">Введите Пароль: </label>
   <input class="form-field required" type="password" name="password" placeholder="Пароль"><br>

   <div class="flex-container">
      <div class="form-group">
         <label class="form-label">Запомнить: </label>
         <input class="form-field form-check" type="checkbox" name="check">
      </div>

      <a href="#" class="">Забыли пароль?</a>
   </div>

   <input class="button form-submit" type="submit" value="Отправить">
</form>
<!-- end form -->