<div class="tabs">
   <input type="radio" class="tabs-toggle" name="tabs" id="tabone" checked="checked">
   <label for="tabone" class="tabs-label">Tab One</label>
   <div class="tab">

   </div>

   <input type="radio" class="tabs-toggle" name="tabs" id="tabtwo">
   <label for="tabtwo" class="tabs-label">Tab Two</label>
   <div class="tab">

   </div>

   <input type="radio" class="tabs-toggle" name="tabs" id="tabthree">
   <label for="tabthree" class="tabs-label">Tab Three</label>
   <div class="tab">

   </div>
</div>