.search-form {
   .form-field {
      width: 300px;
      border-radius: 15px;
   }
   .button {
      padding: 7px 10px;
      margin-left: 10px;
      text-transform: none;
      border-radius: 15px;
   }
}
