.swiper {
   font: $font-size-base * 1.15 $font-family-base;

   width: 100%;
   height: 600px;

   color: #fff;
}

.slide-title {
   font: $font-size-base * 3.7 $font-family-base;
   font-weight: 800;
   font-style: normal;
}

.slide-subtitle {
   font: $font-size-base * 2.6 $font-family-base;
   font-weight: 500;
   font-style: normal;
}

.slide-content {
   position: absolute;
   z-index: 10;
   top: 25px;
   right: 50px;
   left: 50px;

   margin: 0;

   text-align: center;
}
