html,
body {
	height: 100%;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-color-hover;
		text-decoration: underline;
	}
}

.clear:before,
.clear:after,
.header:before,
.header:after,
.content-wrapper:before,
.content-wrapper:after,
.footer:before,
.footer:after {
	content: "";
	display: table;
	clear: both;
}