html {
	font-size: $font-size-base;	
	font-family: $font-family-base;
	line-height: 1.4;
}

.title {
	margin: 0 30px;
	font-size: $font-size-base * 2.5;
	color: $secondary;
}

.subtitle {
	font-size: $font-size-base * 1.5;
	color: $secondary;
}