//------------------------------------------------------------//
// Colors
//------------------------------------------------------------//

$white:		#fff;
$gray:		#eee; 
$black:		#000;

$primary:	#007bff;
$secondary:	#fd7e14;
$tertiary:  #6f42c1;

$success:	#28a745;
$info:		#17a2b8;
$warning:	#ffc107;	
$danger:		#f40003;

//------------------------------------------------------------//
// Fonts
//------------------------------------------------------------//

$font-family-base:      "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:			1rem;

$h1-font-size:          $font-size-base * 2.5;
$h2-font-size:          $font-size-base * 2;
$h3-font-size:          $font-size-base * 1.75;

//------------------------------------------------------------//
// Links
//------------------------------------------------------------//

$link-color:				$primary;
$link-hover-color:		darken($link-color, 20%);

//------------------------------------------------------------//
// Border
//------------------------------------------------------------//

$border:						1px solid lighten($black, 35%);
$border-radius:			5px;

//------------------------------------------------------------//
// Tables
//------------------------------------------------------------//

$table-border:				$border;
$table-border-radius:	$border-radius;

$table-hover-bg:        rgba($black, .075);
$table-active-bg:       $table-hover-bg;

$table-head-color:      $black;
$table-head-bg:         $gray;

$table-cell-padding:		.5rem;

//------------------------------------------------------------//
// Forms
//------------------------------------------------------------//

$input-margin:          0 0 1rem;
$input-padding:         .5rem .75rem;

$input-border-color:    $border;

//------------------------------------------------------------//
// Buttons
//------------------------------------------------------------//

$button-padding:			.5rem 1rem;

$button-border-color:	$border;

//------------------------------------------------------------//
// Modal
//------------------------------------------------------------//

$modal-bg:              $white;
$modal-border-radius:	$border-radius;

//------------------------------------------------------------//
// Breakpoints
//------------------------------------------------------------//

$grid-breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);