//------------------------------------------------------------//
// Colors
//------------------------------------------------------------//

$white:     #fff;
$gray:      #eee;
$black:     #000;

$text-color:#333333;
$primary:   #1fcdff;
$secondary: #2f2f2f;
$tertiary:  #6f42c1;

$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #f40003;

//------------------------------------------------------------//
// Fonts
//------------------------------------------------------------//

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base: 14px;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;

//------------------------------------------------------------//
// Links
//------------------------------------------------------------//

$menu-link-color:       $white;
$menu-link-color-hover: $primary;

$link-color:            $primary;
$link-color-hover:      $secondary;

//------------------------------------------------------------//
// Border
//------------------------------------------------------------//

$border:        1px solid #000;

$border-radius: 5px;

//------------------------------------------------------------//
// Tables
//------------------------------------------------------------//

$table-border:        $border;
$table-border-radius: $border-radius;

$table-bg-hover:      rgba($black, 0.075);
$table-bg-active:     $table-bg-hover;

$table-head-color:    $black;
$table-head-bg:       $gray;

$table-cell-padding:  0.5rem;

//------------------------------------------------------------//
// Forms
//------------------------------------------------------------//

$input-margin:        0 0 15px;
$input-padding:       5px 10px;

$input-border-color:  $border;

//------------------------------------------------------------//
// Buttons
//------------------------------------------------------------//

$button-padding:      10px 30px;

$button-border-color: $border;

//------------------------------------------------------------//
// Modal
//------------------------------------------------------------//

$modal-bg:            $white;
$modal-border-radius: $border-radius;

//------------------------------------------------------------//
// Breakpoints
//------------------------------------------------------------//

$content-width: (
  xs: 100%,
  sm: 100%,
  md: 750px,
  lg: 970px,
  xl: 1200px,
);

$grid-breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
